/* -----cont------ */



body{
  background-image: url(images/manu-background.jpg);
  color: white;
  text-align: center;    
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  overflow-x: hidden; 
}


nav{
  margin: 0px;
}


.login{
  width: 100px;
}


.top {
  margin-left: 10%;
  height: 100%;
 
  
}
.menufood{
  margin-left: 6%;
  margin-right: 6%;
  padding: 2%;
}
.mt-5 {
  font-size: 22px;
}
.form-control:active,
.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
h1{
  margin-top: 10px;
  font-family: 'Dancing Script', cursive; font-size: 55px;
}

h2 {
  font-size: 25px;
  color: rgb(255, 119, 0);
}
a, nav a:visited, nav a:active{
  text-decoration: none; 
  color: rgb(255, 255, 255);
  font-weight: bold;
}
a:hover {
  color: rgb(255, 138, 4);
}
nav {
  margin-top: 10px;
  width: 85%;
  margin-left: 135px;
  font-weight: bold;
}
.navbar li{
  margin-left:5px;
  margin-right:5px;
}
#navend {
  border-right: 2px solid gray;
  padding-right: 5px;
}
#facebook, #twitter{
  padding-left: 5px;
}
.modal-footer p, .overlay .btn p {
  padding-top: 6px;
}
/* image hover*/
.imagehover2 {
  position: relative;
  width: 100%;
}

.image2 {
  display: block;
  width: 100%;
  height: 100%;
}
.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:transparent;
  z-index:1;
}

.imagehover2:hover .overlay {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#footer1 {
  margin: 0 auto; 
  margin-top: 20px;
  background-color: rgb(171, 98, 35);
  height: 100%;
  color: white;
  text-align: center;
  padding:0 10% 5px 10%;
  ppadding-left: 5px;
}
h3{
  font-family: 'Frutiger', cursive; font-size: 35px;
}
#footer2 {
  margin: 0 auto;
  bbackground-color: rgb(49, 44, 44);    
  color: white;
  text-align: center;
  font-size: 19px;
  padding-top: 5px;
  hheight: 270px;
  bbackground-image: url(images/back2.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}
.carousel-image  {
  height: 308.49px;  
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
#Dubai {
  smargin-left: 250px;
}
#footer3 {
  margin-top: 10px;
  background-color: rgb(171, 98, 35);
  height: 100%;
  color: white;
  text-align: start;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 15px;
  height: 346px;
  bbackground-image: url(images/back4.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
hr.style1{
  border-top: 4px solid #fefefe;
}
#firstcol {
  padding-top: 15px;
}

.imagehover2 row mt-5{
  margin-top: 100px;
}
.col-md-6{
  left: 10%;

}


@media (min-width: 1200px){
.container {
  width: 100%;
}
}
@media (max-width: 900px) {
  nav {
    margin-top: 20px;
    width: 85%;
    margin-left: 0;
    position: relative;
    justify-content: center;
}
}