body {
    background-image: url(images/salad.jpg);
    color: white;
    text-align: center;
    
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    
}

.form-control:active,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
h1 {
    color: white;
    font-family:cursive;
    margin-top: 10px;
    position: relative;
}
h1:before {
    content: "";
    display: block;
    width: 480px;
    height: 2px;
    background: #fdfdfe;
    left: 0;
    top: 50%;
    position: absolute;
  }
  h1:after {
    content: "";
    display: block;
    width: 480px;
    height: 2px;
    background: #fdfdff;
    right: 0;
    top: 50%;
    position: absolute;
  }
  #footer {
    margin-top: 25px;
  }
 h2 {
    font-size: 25px;
    color: rgb(255, 119, 0);
 }
 a, nav a:visited, nav a:active{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-weight: bold;
}
a:hover {
    color: rgb(255, 138, 4);
}